<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }} - {{ SITEDESCRIPTION }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />

        <meta name=description content="{{ SITEDESCRIPTION }}">
        <meta name=twitter:card content=summary>
        <meta name=twitter:creator content=@PhyksIsHere>
        <meta property=og:type content=website>
        <meta property=og:title content="{{ SITENAME }}">
        <meta property=og:description content="{{ SITEDESCRIPTION }}">
        <meta property=og:url content="{{ SITEURL }}">
        <meta property=og:image content="{{ SITEURL }}/images/icons/ogIcon.png">

        <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/theme/images/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="228x228" href="{{ SITEURL }}/theme/images/icons/coast-228x228.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/theme/images/icons/favicon-32x32.png">
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/icons/favicon.ico">

        {% endblock head %}
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js"></script>
</body>
</html>
