/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

.center {
    text-align: center;
}

html, body {
    min-height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", serif;
}

html {
    background-color: rgb(59,61,64);
}

body {
    background: linear-gradient(rgba(59,61,64,0.8), rgba(59,61,64,0.8)),url(../images/cover.jpg) no-repeat center center
}

.main {
    position: relative;
    min-height: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    color: white;
    text-align: left;
}

.main h2 {
    text-align: right;
}

.main .btn {
    border: none;
    background-color: #0191FF;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main .btn:hover {
    background-color: #00579a;
}

.logo {
    max-width: 75px;
    max-height: 75px;
    border-radius: 25%;
    display: inline-block;
    background-color: white;
    padding: 10px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.app-description a, .app-description a:hover, .app-description a:visited, .app-description a:focus {
    color: white;
}

nav {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

nav a, nav a:hover, nav a:visited, nav a:focus {
    color: white;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(59,61,64);
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

nav a:hover, nav a:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.device {
    background-image: url('../images/device.png');
    background-size: cover;
    width: 288px;
    height: 594px;
    margin: auto;
}

.device-screen {
    position: relative;
    top: 60px;
    left: 15px;
    width: 256px;
    height: 455px;
    background-color: white;
}

.app-screenshot {
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .main {
        padding-top: 30px;
    }
}
